* {
    box-sizing: border-box !important;
}

[lang="fa-IR"] {
    direction: rtl !important;
}

[lang="en"] {
    direction: ltr !important;
}

.rtl {
    direction: rtl !important;
}

.ltr {
    direction: ltr !important;
}

body {
    margin: 0;
    padding: 0;
}

p {
    text-align: justify;
}

img {
    max-width: 100%;
}
a{
    text-decoration: none;
}